#container {
  width: 1190;
  margin: 0 auto;
}
.clear_fix {
  clear: both;
  display: block;
  content: "";
}
.left_fix {
  float: left;
}
.right_fix {
  float: right;
}
#header .top_nav {
  background-color: #eee;
  height: 30px;
}
#header .top_nav .top_nav_left {
  line-height: 30px;
  margin: 0 auto;
}
#header .top_nav .top_nav_left a {
  padding: 0px 10px;
  border-right: 1px solid black;
}
#header .top_nav .top_nav_left a:last-child {
  border-right: 0;
}
#header .top_nav .top_nav_left span {
  margin-right: 18px;
  color: #666;
  font-weight: bold;
  font-size: 12px;
}
#header .top_nav .top_nav_right ul {
  line-height: 30px;
  margin: 0px auto;
}
#header .top_nav .top_nav_right ul li {
  float: left;
}
#header .top_nav .top_nav_right ul li a {
  padding: 0 15px;
  border-right: 1px solid black;
}
#header .top_nav .top_nav_right ul li a:last-child {
  border: 0;
}
